* {
  padding: 0;
  margin: 0;
  color: #EDEFEE;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url(./Fonts/SourceSerifPro-Regular.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Mulish';
  src: url(./Fonts/Mulish-VariableFont_wght.ttf);
}

.app {
  background: linear-gradient(to right, #2A2A2C 0%, #2A2A2C 70%, #708188 70%, #708188 100%);
  height: max-content;
  width: 100%;
}

#projects, #about, #contact {
  position: relative;
}

#projects {
  height: 100vh;
}

.avatar-border {
  border-image: linear-gradient(to right, #708188 0%, #708188 50%, #2A2A2C 50%, #2A2A2C 100%);
  border-style: solid;
  border-width: 4px;
  border-image-slice: 1;
  position: absolute;
  padding: 10px;
  left: calc(70% - 0.25px);
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatar-border img {
  width: 23vw;
}

.avatar {
  position: relative;
  display: block;
}

h1 {
  font-family: 'Source Serif Pro', serif;
}

h2, p {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
}

.intro-text h1 {
  font-size: 7vw;
  margin-top: -10px;
  animation: h1-load 400ms ease-out 1s;
  animation-fill-mode: forwards;
  transform: translateY(40px);
}

.intro-text h2 {
  font-size: 2vw;
  animation: h2-load 400ms ease-out 1s;
  animation-fill-mode: forwards;
  transform: translateY(40px);
}

.intro-text p {
  font-size: 1.75vw;
  opacity: 0;
  animation: p-load 500ms ease-out 2s;
  animation-fill-mode: forwards;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 20vw;
  width: max-content
}

.highlight {
  display: inline;
  color: #A4D5E9;
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.socials > a {
  width: 40px;
  height: 40px;
}

.navbar {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
}

.navbar-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: linear-gradient(to right, #2A2A2C 0%, #2A2A2C 70%, #708188 70%, #708188 100%)
}

/* .nav-hidden {
  background-color: black;
} */

.nav-item {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  display: inline;
  position: relative;
  margin: 16px;
  cursor: pointer;
}

.nav-item:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #EDEFEE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-item:hover:after { 
  width: 105%; 
  left: -2.5%; 
}

.card {
  background-color: #D9D9D9;
  width: 27vw;
  height: 14vw;
  position: relative;
  display: flex;
}

.card-outline {
  padding-right: 1.04vw;
  padding-bottom: 1.04vw;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 4px;
  width: 27vw;
  position: relative;
}

.card-container {
  padding: 2.08vw 1.04vw 1.04vw 2.08vw;
}

.col-1 {
  border-color: #708188;
}

.col-2 {
  border-image: linear-gradient(to right, #708188 0%, #708188 63.05%, #2A2A2C 63.05%, #2A2A2C 100%);
  border-image-slice: 1;
}

.card-group {
  display: flex;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img{
  height: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.card-text h1 {
  color: #2A2A2C;
  font-size: 1.8vw;
  line-height: 28px;
}

.card-text p {
  color: #2A2A2C;
  font-size: 1vw;
  padding-top: 12px;
}

@keyframes p-load {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes h1-load {
  0% {
    font-size: 7vw;
    transform: translateY(40px);
  }

  100% {
    font-size: 5vw;
    transform: translateY(0);
  }
}

@keyframes h2-load {
  0% {
    font-size: 2vw;
    transform: translateY(40px);
  }

  100% {
    font-size: 1.5vw;
    transform: translateY(0);
  }
}