* {
  padding: 0;
  margin: 0;
  color: #EDEFEE;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url(./Fonts/SourceSerifPro-Regular.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Mulish';
  src: url(./Fonts/Mulish-VariableFont_wght.ttf);
}

.app {
  background: linear-gradient(to right, #2A2A2C 0%, #2A2A2C 70%, #708188 70%, #708188 100%);
  height: max-content;
  width: 100%;
}

#projects, #about, #contact {
  position: relative;
  height: 100vh;
}

.avatar-border {
  border-image: linear-gradient(to right, #708188 0%, #708188 50%, #2A2A2C 50%, #2A2A2C 100%);
  border-style: solid;
  border-width: 0.32vw;
  border-image-slice: 1;
  position: absolute;
  padding: 10px;
  left: calc(70% - 0.25px);
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatar-border img {
  width: 23vw;
}

.avatar {
  position: relative;
  display: block;
}

h1 {
  font-family: 'Source Serif Pro', serif;
}

h2, p {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
}

.intro-text h1 {
  font-size: 7vw;
  margin-top: -1.2vw;
  animation: h1-load 400ms ease-out 1s;
  animation-fill-mode: forwards;
  transform: translateY(40px);
  margin-bottom: 12px;
}

.intro-text h2 {
  font-size: 2vw;
  animation: h2-load 400ms ease-out 1s;
  animation-fill-mode: forwards;
  transform: translateY(40px);
}

.intro-text p {
  font-size: 1.75vw;
  opacity: 0;
  animation: p-load 500ms ease-out 2s;
  animation-fill-mode: forwards;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 20vw;
  width: max-content
}

.highlight {
  display: inline;
  color: #A4D5E9;
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.socials > a {
  width: 40px;
  height: 40px;
}

.navbar {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
}

.navbar-container {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  background: linear-gradient(to right, #2A2A2C 0%, #2A2A2C 70%, #708188 70%, #708188 100%);
  transition: ease-out 300ms;
}

.nav-hidden {
  top: -80px;
  transition: ease-out 500ms;
}

.nav-item {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  display: inline;
  position: relative;
  margin: 16px;
  cursor: pointer;
}

.nav-item:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #EDEFEE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-item:hover:after { 
  width: 105%; 
  left: -2.5%; 
}

.card {
  background-color: #D9D9D9;
  width: 27vw;
  height: 14vw;
  position: relative;
  display: flex;
}

.card-outline {
  padding-right: 1.04vw;
  padding-bottom: 1.04vw;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 0.32vw;
  transition: ease-out 200ms;
}

.card-outline:hover {
  padding: 0.52vw;
  transition: ease-out 200ms;
}

.card-container {
  padding: 2.08vw 1.04vw 1.04vw 2.08vw;
}

.col-1 {
  border-color: #708188;
}

.col-2 {
  border-image: linear-gradient(to right, #708188 0%, #708188 63.05%, #2A2A2C 63.05%, #2A2A2C 100%);
  border-image-slice: 1;
}

.card-group {
  display: flex;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img{
  height: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2vw;
}

.card-text h1 {
  color: #2A2A2C;
  font-size: 1.8vw;
  line-height: 1.8vw;
}

.card-text p {
  color: #2A2A2C;
  font-size: 1vw;
  padding-top: 0.8vw;
}

.contact-text {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: max-content;
}

.contact-text div {
  width: 25vw;
  margin-left: 16vw;
}

.contact-text div h1 {
  display: inline;
  line-height: 6vw;
  font-size: 7vw;
}

.contact-text div h2 {
  display: inline;
  font-size: 2.5vw;
}

.push-right {
  padding-left: 4.3vw;
}

.form-container {
  background-color: #D9D9D9;
  width: 30vw;
  height: 34vw;
}

.form-outline {
  position: absolute;
  top: 52%;
  left: 66%;
  transform: translate(-50%, -50%);
  
  padding-right: 1.04vw;
  padding-bottom: 1.04vw;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 0.32vw;
  border-image: linear-gradient(to right, #708188 0%, #708188 63.25%, #2A2A2C 63.25%, #2A2A2C 100%);
  border-image-slice: 1;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

.form-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  color: #2A2A2C;
  font-size: 1.6vw;
  margin-bottom: 0.5vw;
}

form p {
  color: #b14747;
  font-size: 0.9vw;
  margin-top: -0.9vw;
  margin-bottom: 0.4vw;
}

input {
  height: 2.2vw;
}

.required:after {
  content:"*";
  font-size: 1vw;
  vertical-align: super;
}

.input {
  color: #2A2A2C;
  background-color: #EDEFEE;
  padding-left: 0.7vw;
  border: none;
  font-family: 'Mulish', sans-serif;
  font-size: 1.1vw;
  margin-bottom: 1vw;
  outline: none;
}

input:focus {
  box-sizing: border-box;
  border: 0.05vw solid #2A2A2C;
  border-radius: 0;
}

.invalid, input.invalid:focus, textarea.invalid:focus, .dropdown-btn.invalid, .dropdown-btn.invalid:focus {
  box-sizing: border-box;
  border: 0.05vw solid #b14747;
  border-radius: 0;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active  {
  color : #2A2A2C !important;
  -webkit-text-fill-color: #2A2A2C !important;
  -webkit-box-shadow: 0 0 0 1000px #EDEFEE inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

textarea {
  resize: none;
  height: 6.6vw;
  padding-top: 0.4vw;
  padding-right: 0.6vw;
  padding-bottom: 0.4vw;
}

textarea:focus {
  border: 0.05vw solid #2A2A2C;
  border-radius: 0;
}

textArea::-webkit-scrollbar {
  width: 0.5vw;
}

textArea::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 5px;
}

textArea::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

.submit-btn {
  font-family: 'Mulish', sans-serif;
  background-color: #2A2A2C;
  color: #EDEFEE;
  font-size: 1.4vw;
  width: max-content;
  padding: 0.5vw 1vw;
  border: none;
  margin: 0 auto;
}

.submit-btn:disabled {
  background-color: #8b9397;
}

.submit-btn:hover:enabled {
  background-color: #708188;
}

.submit-btn:active:enabled {
  background-color: #606e74;
}

.copyright {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

/* dropdown */
.dropdown {
  position: relative;
  height: 2.2vw;
  margin-bottom: 1vw;
}

.dropdown-btn {
  width: 100%;
  height: 2.2vw;
  color: #2A2A2C;
  background-color: #EDEFEE;
  padding-left: 0.7vw;
  border: none;
  font-family: 'Mulish', sans-serif;
  font-size: 1.1vw;
  outline: none;
  text-align: left;
  position: absolute;
  top: 0;
}

.dropdown-btn:focus {
  box-sizing: border-box;
  border: 0.05vw solid #2A2A2C;
  border-radius: 0;
}

.menu {
  position: absolute;
  list-style-type: none;
  padding-left: 0.1vw;
  margin-top: 2.5vw;
  width: 99.3%;
}

.menu > li {
  margin: -0.1vw;
  padding-left: 0.35vw;
  background-color: #EDEFEE;
  color: #2A2A2C;
  font-size: 1.1vw;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 0.4vw;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.menu > li > button:focus {
  box-sizing: border-box;
  border: 0.05vw solid #2A2A2C;
  border-radius: 0;
}

.menu > li > button:active {
  border: none;
}

.arrow {
  fill: #2A2A2C;
  position: absolute;
  z-index: 1;
  bottom: 0.3vw;
  right: 0.3vw;
  width: 1.8vw;
  height: 1.8vw;
}
/* dropdown */

@keyframes p-load {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes h1-load {
  0% {
    font-size: 7vw;
    transform: translateY(40px);
  }

  100% {
    font-size: 5vw;
    transform: translateY(0);
  }
}

@keyframes h2-load {
  0% {
    font-size: 2vw;
    transform: translateY(40px);
  }

  100% {
    font-size: 1.5vw;
    transform: translateY(0);
  }
}